# Google Custom Search API
# Obtenha em: https://console.cloud.google.com/apis/credentials
GOOGLE_API_KEY=sua_chave_aqui

# ID do Mecanismo de Pesquisa Personalizado
# Crie em: https://programmablesearchengine.google.com/
GOOGLE_CX=seu_cx_aqui
